<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();
$breeds = $viewModel->getBreed();
$breedList = $viewModel->getAllBreeds();
$isBreedAsArgument = $viewModel->argumentsExists();
use Gamma\Dogs\ViewModel\Breeds; ?>

    <div>
        <?php if ($isBreedAsArgument): ?>

        <div class="breed">
            <div class="breed-name">
                <h2><?= $breeds->getBreedName() ?></h2>
            </div>
            <div class="breed-image">
                <img src="<?= $breeds->getImage() ?>" alt="<?= $breeds->getBreedName() ?>"/>
            </div>
            <br/>
            <div class="breed-sub-breeds">
                <ul>
                    <?php
                    if($breeds->getSubBreeds()){
                        $breedUrl = "http://itp.gammapartners.com/dogs/breeds/index/breed";
                        foreach ($breeds->getSubBreeds() as $it) {
                            echo "<li><a href='{$breedUrl}/{$breeds->getBreedName()}-{$it}'>{$it}</a></li>";
                        }
                    }
                    ?>
                </ul>
            </div>
            <br/>
            <div class="breed-books">
                <?php foreach ($breeds->getBooks() as $it): ?>
                    <h2><?= $it->getBookTitle() ?></h2>
                    <img src="<?= $it->getCover() ?>" alt="<?= $it->getBookTitle() ?>" />
                    <br/>
                    <h3><a href="<?= $it->getRead() ?>"><?= $it->getRead() ?></a></h3>
                    <?= $it->getReviews() ?>
                <?php endforeach; ?>
            </div>
        </div>

        <?php else: ?>

        <div class="breed-list">
            <?php
            $lambda = function ($item) {
                $breedUrl = "http://itp.gammapartners.com/dogs/breeds/index/breed/{$item}";
                echo "<li><a href='{$breedUrl}'>{$item}</a></li>";
            };
            array_map($lambda, array_keys($breedList));
            ?>
        </div>

        <?php endif ?>


    </div>

